*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(165, 42, 42, 0.2);
}
.coffee_house{
    background-image: url(https://i.pinimg.com/736x/e1/c2/3a/e1c23ac34847740f672717c89a62ae37.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width:100%;
    background-position: center;
}
input{
    background-color: rgb(99 18 18);
    height:20%;
    width:65%;
    color: white;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 10px;
    border: none;
    position:sticky;
    top:50px;
    padding-left: 5px;
    
    
}
input:focus{
    outline: none;
}
.container{
    
    display: flex;
    justify-content: space-evenly;
}


.img1{
    display: flex;
    flex-direction: row;
    height:150px;
    width:150px;
    border-radius: 90px;
    margin-top: 20px;
    
    
   

}
h4{
    text-align: center;
}
.img1:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;


}
.box1{
    background-color:rgb(165, 42, 42, 0.3);
    height:420px;
    width: 1100px;
    margin-left: 80px;
    margin-top: 40px;
    padding-top:30px;
    padding-left: 20px;
    text-align: justify;
    padding-right: 15px;
    color: brown;
    border-radius: 10px;
    box-shadow: 0px 0px 8px brown;
    
}
h3{
    margin-bottom: 5px;
    
}

.box2{
    background-color: rgb(165, 42, 42, 0.3);
    height:400px;
    width: 1100px;
    margin-left: 80px;
    margin-top: 40px;
    padding-top:30px;
    padding-left: 20px;
    text-align: justify;
    padding-right: 15px;
    color: brown;
    border-radius: 10px;
    box-shadow: 0px 0px 8px brown;
    
}
  li{
    margin:10px;
  }





